.clearfix:after {
	clear: both;
	content: '';
	display: table;
}

ul.category-tabs {
	margin-bottom: 6px;
}

.categorydiv .category-panels .tabs {
	background-color: transparent;
	border-color: transparent;
}

.categorydiv .category-panels.all .tab-pop,
.categorydiv .category-panels.popular .tab-all {
	background-color: #fdfdfd;
	border: 1px solid #ddd;
	border-bottom-color: #fdfdfd;
}

.categorydiv .category-panels.all .tab-pop a,
.categorydiv .category-panels.popular .tab-all a {
	color: #32373c;
}

.categorydiv .category-panels.all .panel-pop,
.categorydiv .category-panels.popular .panel-all {
	display: none;
}

.tagsdiv .the-tagcloud p {
	margin: 0;
}

@media screen and (max-width:782px) {
	ul.category-tabs {
		margin-bottom: 14px;
	}
}
